.navbar-container{
    background:linear-gradient(#E6F5ED 50%,#FDF5DD);
    height: 110vh;
}
.navbar-cont-data{
    padding: 2rem 0;
    display: flex;
    justify-content: space-between;
}
.middle-cont-header, .navbar-center-div{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
}
.header-middle-data{
    margin: 0 1.7rem;
}
.header-middle-data{
    font-family: bold;
    color: rgb(66, 64, 64);
}
.navbar-logo{
    margin-top: -0.8rem !important;
}
.navbar-center-div{
    margin-top: 1.3rem;
}
.navbar-right-div{
    background:linear-gradient(#ECD5A1,#F2C192 );
    height: 90px;
    width: 90px;
    border-radius: 50%;
    line-height: 87px;
    font-family: semibold;
    font-size: 14px;
    margin-top: -0.3rem;

}
.middle-cont-header, .header-middle-data, .navbar-center-div{
    flex-wrap: wrap !important;
}
.navbar-right-div-data{
    margin-left: 0.4rem;
    text-transform: uppercase;
}
.navbar-center-div{
    position: relative;
}
.down-svg-icon{
    position: absolute;
    top: 0%;
    right: 25%;
}
.toggle-data{
    margin: 0 0.8rem;
    font-family: semibold;
    font-size: 0.8rem;
    margin-top: -0.3rem;
}
.toggle-main-data{
    margin: 0.3rem 0.6rem;
}
.toggle-navbar-data{
    width: 120px;
    height: 65px;
    background-color: #fff;
    position: absolute;
    right: 25%;
    top: 2rem;
    display: none;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.5);
}
.fixed-app-data{
    width: 81% !important;
    position: fixed !important;
    height: 70px;
    bottom: 0;
    z-index: 9999
    ;
}
.newValue{
    margin-top: -1.4rem;
}
.fixed-data-value{
    margin: 0 0.5rem;
    font-family: bold;
    width: 60px;
}
.left-data-fixed{
    width: 90px !important;
    text-align:end;
}
.navbar-cont-data-small-scr-data{
    display: none;
}
.navbar-left-div-main-datas{
    background:linear-gradient(#B3D28A,#88CBA8);
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.menu-bar-icon, .navbar-right-div-game{
    margin-left: 0.6rem;
    margin-top: 0.6rem;
}
.navbar-right-div-main-data{
    background:linear-gradient(#B3D28A,#88CBA8);
    width: 50px;
    height: 50px;
    border-radius: 50%;   
}
.navbar-right-div-data  {
display: flex;
}
.navbar-left-div-small-right{
    margin-top: 0.8rem;
    margin-right: 1rem;
    font-family: semibold;
    color: #3c4526;
    text-transform: capitalize !important;
}
.navbar-left-div-main-data{
display: flex;
}
.navbar-left-div-small{
    /* margin-top: 0.8rem; */
    margin-left: 1rem;
    font-family: semibold;
    color: #3c4526;
    text-transform: capitalize !important;
}

.navbar-cont-data-small-scr-data{
    display: none;
}
.black-out-data  {
    margin-top: 0.8rem;
}
.navbar-left-div-main-data{
    margin-top: 1.5rem;   
}