
.ads-main{
    display: flex;
    justify-content: center;
    line-height: 55px;
    background:linear-gradient(#ECD5A1,#F2C192) ;
    height: 3.5rem;
}
.ads-data{
    margin: 0 1rem;
    font-family: semibold;
}
.ads-main-btn{
    background-color: #3C4427;
    color: #fff;
    margin: 0.6rem 0;
    padding: 0 1rem;
    line-height: 0px !important;
    border-radius: 20px;
    font-family: semibold;
    position: relative;
    outline: none;
    border: none;
}
.ads-icons{
justify-content: flex-end;
}
.fa-xmark{
    position: absolute;
    right: 2%;
}
.cross-ads-icon{
    width: 30px;
    position: absolute;
    top: 1.1rem;
    right: 3%;
}
